body{
    background-image: url("../assets/img/72fD.gif");
    background-size:cover;
    background-repeat: no-repeat;

}
div{
    color: white;
}
h1{
    font-size: 5rem;
    color: aliceblue;
    text-align: center;
}
h3{
    font-size: 2rem;
    text-align: center;
    a{
        color: aliceblue;
        text-align: center;
    }
}