$blanco: #FFFFFF;
$verde: #82B161;
$azul: #588CA1;
$celeste: #6080d7;
$noche: #161e35;
$blanco_hover: #E0E0E0;
$verde_hover: #98BE7C;
$azul_hover: #6E9DB0;
$celeste_hover: #859DE0;
$noche_hover: #19223D;

